body{
	background: #ff1212;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.box{
	position: relative;
	margin: 10% auto 0 auto;
	display: block;
	width: 650px;
	height: 500px;
	background: none;
}
.head{
	position: absolute;
	width: 50%;
	height: 65%;
	background: #a6becf;
	border-radius: 50%;
	top: 17.5%;
	left: 25%;
}
.head-copy{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #a6becf;
	border-radius: 50%;
	z-index: 2;
}
.ear-left{
	position: absolute;
	width: 64%;
	height: 70%;
	background: #a6becf;
	z-index: 1;
	border-radius: 50%;
	top: 3%;
	left: -22%;
}
.ear-right{
	position: absolute;
	width: 64%;
	height: 70%;
	background: #a6becf;
	z-index: 1;
	border-radius: 50%;
	top: 3%;
	right: -22%;
}
.inner-ear{
	position: absolute;
	width: 80%;
	height: 80%;
	background: #819caf;
	border-radius: 50%;
	top: 10%;
	left: 10%;
	z-index: 1;
}
.eye-left{
  	position: absolute;
  	background: #ffffff;
  	width: 30%;
  	height: 33%;
  	top: 25%;
  	left: 21%;
  	border-radius: 50%;
  	z-index: 3;
}
.eye-right{
	position: absolute;
	background: #ffffff;
	width: 30%;
	height: 33%;
	top: 25%;
	right: 21%;
	border-radius: 50%;
	z-index: 3;
}
.pupil{
	position: absolute;
	width: 28%;
	height: 32%;
	top: 45%;
	left: 36%;
	border-radius: 50%;
	background: #000000;
}
.nose{
	position: absolute;
  	background: #BE845F;
  	width: 21%;
  	height: 38.5%;
  	left: 39%;
  	top: 45%;
  	border-radius: 50px;
  	z-index: 4;
}
.hair-left{
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hair-right{
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
  height: 20%;
  background:  #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.body1{
	position: absolute;
	background: #a6becf;
	width: 130%;
	height: 100%;
	border-radius: 50%;
	top: 75%;
	left: -10%;
}